body {
  background-color: black;
  color: #20C20E;
  font-family: 'VT323', monospace;
  font-size: 15;
}

.mother-wrapper {
  display: flex;
  width: 1100px;
  margin: auto;
}

.left-box {
  float: left;
  flex: 1;
  width: 300px;
}

.right-box {
  float: right;
  flex: 1;
  margin-top:575px;
  width: 300px;
  /*background-color: blue; */
}

.central-box {
  float: left;
  flex: 2.5;
  width: 500px;
  /*background-color: green;*/
}


.textBox {
  background: url("assets/images/Textbox3.png");
  background-repeat: no-repeat;
  height: 706px;
  width: 500px;
}

#textingBox {

}

.profilePicture1 img {
  border-radius: 10%;
  box-shadow: 0px
    /*horiz offset */
    0px
    /* vert offset */
    10px
    /*blur*/
    6px
    /*spread */
    rgba(32, 194, 14, 0.3);

    margin-left: 150px;
}

#pictureuser1 {
  text-align: left;
  margin-left: 150px;
}

.profilePicture2 img {
  border-radius: 10%;
  box-shadow: 0px
    /*horiz offset */
    0px
    /* vert offset */
    10px
    /*blur*/
    6px
    /*spread */
    rgba(32, 194, 14, 0.3);
  margin-right: 350px;
}

#pictureuser2 {

}

#userPara1 {
  text-align: left;
  margin-left: 50px;
  position: absolute;
  top: 7%;
}

#userPara2 {
  text-align: left;
  margin-left: 50px;
  position: absolute;
  top: 27%;
}

#typed {
  position: absolute;
  top: 12%;
  margin-left: 50px;
  width: 400px;
  text-align: left;
  white-space: pre-line;
  /*line-height: 200%; */
  z-index: -1;
}

#linkOne{
  position: absolute;
  text-align: center;
  left: 400px;
  top: 590px;
  width: 400px;

}

#linkTwo{
  position: absolute;
  text-align: center;
  left: 400px;
  top: 635px;
  width: 400px;

}
#linkOne:hover {
  color: red;
}

#linkTwo:hover {
  color: red;
}

#blueimage {
  display: none;
  position: absolute;
  top: 300px;;
  left: 380px;
  z-index: 1;
}

#redimage{
  z-index: 1;
}
#redimage {
  display: none;
  position: absolute;
left: 10%;
}

.button {
  font-size: 30;
  color: #20C20E;
  padding: 2px 6px 2px 6px;
}
.menu {
  height:95%;
  background-repeat: no-repeat;
  position: relative;
}

.menu img{
  position: absolute;
  height: 100%;
}
#menubuttonid{
  position: absolute;
  top: 80%;
  left: 35%;
}
#menubutton {
  padding: 50%;
  padding-top: 50%;
  color: #ffffff;
  font-size: 60;
}

#endscreenbutton {
  margin: auto;
  margin-top: 50%;
  color: #20C20E;
  font-size: 40;
  text-decoration: none;
}
